
.logo{
    border-radius: 50%;
    height: 80px;
    width: 80px;
    background-color:#ffff ; 
    text-align: center;
    font-size: 42px;
    color: red;
    font-weight: 700;
    margin:100px 630px;
    
} 


.card mb-3 {
    
    border-radius: 30px black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}



    